body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

header {
  background: #000;
  color: #fff;
  padding: 15px;
  text-align: center;
}

nav {
  background: #222;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-size: 18px;
}

.home-box {
  padding: 40px;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background: #ff0000;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-size: 18px;
}

footer {
  margin-top: 40px;
  background: #000;
  color: #fff;
  padding: 10px;
  text-align: center;
}
