/* ===== GENERAL ===== */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #006400; /* خلفية خضراء داكنة */
    color: white;
    text-align: center;
}

/* ===== HEADER ===== */
header {
    padding: 20px;
}

.logo {
    width: 160px;
    display: block;
    margin: 0 auto 10px auto;
    border-radius: 10px;
}

h1 {
    font-size: 32px;
    margin: 5px 0;
}

/* ===== NAVIGATION ===== */
nav {
    background: #004d00; 
    padding: 15px;
    display: flex
